*{
margin: 0px;
padding: 0px;
font-family: 'Kanit', sans-serif;
}


body{
background-image: radial-gradient(circle, #1f2233, #202336, #222538, #23263b, #25273e);
width: 100%;
height: auto;
display: flex;
font-family: 'Kanit', sans-serif;
}
.container{
background-image: radial-gradient(circle, #1f2233, #202336, #222538, #23263b, #25273e);
width: 100%;
height: 200vh;
display: grid;
grid-template-columns:100% ;
grid-template-rows:10vh 90vh 90vh 10vh ;
grid-template-areas:
"hd"
"hd"
"mn"
"ft"
;

/* --------------------------nav-------------------------- */

}

#nav{
grid-area: nav;
display: flex;
align-items: center;
justify-content: space-between;
position: fixed;
width: 100%;

}

.nav-img-1{
width: 30px;
height: 30px;
border: 3px solid #F9605A;
border-radius: 50%;
}

.bold{
color: #F9605A;

}

.nav-sp-1{
padding-left: 10px;

}

.nav-p-1{
width: fit-content;
height: fit-content;
display: flex;
color:white;
font-size: 30px;
margin-left: 50px;
justify-content: center;
align-items: center;
}

.nav-div-content-container{
display: flex;
color: white;
margin-right: 50px;
}

.nav-p-2{
margin-right: 50px;
}

.nav-a-1{
color: white;
text-decoration: none;
font-size: 15px;
}

.nav-a-1:hover{
color: #F9605A;
}

.nav-p-3{
width: fit-content;
height: fit-content;
border-radius: 5px;
padding-left: 2px;
padding-right: 2px;
border: 2px solid #F9605A;
}

.nav-a-2{
color: white;
text-decoration: none;
font-size: 15px;
}

.nav-a-2:hover{
text-decoration: none;
font-size: 15px;

}

.nav-p-3:hover{
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
    border: 2px solid #F9605A;
    background-color: #F9605A;
}

/* --------------------------header-------------------------- */

#hd{
grid-area:hd;
display: flex;
width:100%;   
}

.hd-div-container{
display: flex;
background-color: #6166DE;
width: 100%;
height: fit-content;
background-color: black;
}

.hd-div-1{
display: flex;
width: 100%;
height:100vh;
background-image: url(/imgs/background-wallpaper.jpg);
background-repeat: no-repeat;
background-size: cover;
opacity: 0.3;
}

/* --------------------------main-------------------------- */

#mn{
grid-area:mn;
display: flex;
width: 100%;  
}


/* --------------------------footer-------------------------- */

#ft{
grid-area: ft;
display: flex;
background-color: transparent;
outline: 2px solid white;
background-color: #6166DE;
width:100%;
}