*{
margin: 0px;
padding: 0px;
}

body{
background-image: linear-gradient(to bottom, #d9d8d3, #cdcac0, #c1bcad, #b5af9a, #aaa188);
height: 100vh;
width: 100vw;
}

.container{
background-image: linear-gradient(to bottom, #d9d8d3, #cdcac0, #c1bcad, #b5af9a, #aaa188);
width: 100vw;
height:100vh;
display: flex;

}

 

.hd-div-1{
display: flex;
width: 100vw;
height:30vh ;
background-color: #000000;
align-self: center;
justify-content: center;

} 

.div-2{
width: fit-content;
height: fit-content;
display: flex;
align-self: center;
border-radius: 50%;
}

.img{
    width:250px;
    height:250px;
    border-radius: 50%;
    border:5px solid white
}


